.btn {
	.nav-component;
	.ripple;

	background: #f0f0f0;
	color: @font-color;

	display: inline-block;
	border: none;
	border-radius: @component-border-radius;

	position: relative;
	padding: 0.75rem 0.95rem 0.75rem;

	text-align: center;
	text-decoration: none;

	cursor: pointer;

	&:hover {
		color: @font-color;
		background: darken(#f0f0f0, 10%);
	}

	&--primary {
		background: @primary-color;
		color: white; 
		&:hover {
			color: white; 
			background: darken(@primary-color, 10%);
		}
	}

	&--success {
		background: @success-color;
		color: white; 
		&:hover {
			color: white; 
			background: darken(@success-color, 10%);
		}		
	}

	&--info {
		background: @info-color;
		color: @font-color; 
		&:hover {
			background: darken(@info-color, 10%);
		}		
	}

	&--danger {
		background: @danger-color;
		color: white; 
		&:hover {
			color: white; 
			background: darken(@danger-color, 10%);
		}				
	}		

	&--warning {
		background: @warning-color;
		color: white; 
		&:hover {
			background: darken(@warning-color, 10%);
		}		
	}		

	&--disabled {
		pointer-events: none;
		color: lighten(@font-color, 30);
	}

	* {
		pointer-events: none;
	}

	&--small {
		padding: 8px 10px;
		font-size: @font-size - 2;
	}

	&--large {
		padding: 15px 20px;
		font-size: @font-size + 2;
	}

	&--block {
		display: block;
	}
}