/* Input styles */
.field {

	margin-bottom: 1rem;

	&__label {
		display: block;
		margin-bottom: 0.25rem;
		color: lighten(@font-color, 25%);
		&--no-transition {
			transition: none !important;
		}
	}

	&__input {
		border: 1px solid rgba(0,0,0,0.15);
		border-radius: 3px;
		display: block;
		width: 100%; 
		padding: 0.65rem 0.75rem;
	}

	&--md {

		position: relative;
		margin-top: 1.5rem;
		margin-bottom: 1.75rem;

	    ::-webkit-input-placeholder { /* WebKit browsers */
	        color: transparent;
	    }
	    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	       color: transparent;
	    }
	    ::-moz-placeholder { /* Mozilla Firefox 19+ */
	       color: transparent;
	    }
	    :-ms-input-placeholder { /* Internet Explorer 10+ */
	       color: transparent;
	    }	

		.field__input {
	    	border-left: 0;
	    	border-right: 0;
	    	border-top: 0;
	    	outline: none;
	    	border-radius: 0;
	    	transition: .25s ease-in-out;
	    	box-shadow: none;
	    	border-bottom: 2px solid darken(@default-color, 10);
			padding: 0.65rem 0;
	    }

	    select.field__input {
	    	color: white;
	    }
	    
		.field__label {
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			z-index: 100;
			padding: 0.65rem 0;
			pointer-events:none;
			transition: all .15s ease-in-out;
		} 
		
	}


	&:last-child {
		margin-bottom: 0;
	}

}

.field--md.field--has-value {
	.field__label {
		color: darken(#6734BA, 25%);
		top: -1rem !important;
		padding: 0;
		font-size: 13px;
	}
	.field__input {
		border-bottom: 2px solid #B594F9;
		color: @font-color;
		padding: 0.65rem 0;
		&:invalid {
			outline: none;
			box-shadow: none;
			border-bottom: 2px solid @danger-color;
		}
	}
}

.field__group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    .field__suffix,
    .field__prefix {
    	display: flex;
    	&__text {
    		padding: 0.65rem 1rem;
    	}
    }
    .field__prefix {
    	border-right: 1px solid rgba(0,0,0,0.15);
    }
    .field__suffix {
    	border-left: 1px solid rgba(0,0,0,0.15);
    	.btn {
    		border-top-left-radius: 0;
    		border-bottom-left-radius: 0;
    		box-shadow: none;
    	}
    }    
    .field__input {
	    position: relative;
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    width: 1%;
	    margin-bottom: 0;    
	    border: 0;	
	    &:last-child {
    		border-top-right-radius: 3px;
    		border-bottom-right-radius: 3px;	    	
	    }
    }

    > .field__input {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;    	
    }
    
    .field__prefix + .field__input {
    	border-top-left-radius: 0;
    	border-bottom-left-radius: 0;
    }

    .field__suffix ~ .field__input {
    	border-top-right-radius: 0;
    	border-bottom-right-radius: 0;
    }
}