@import "variables.less";

.component {
	border-radius: @component-border-radius;
	margin-bottom: @component-bottom-margin;	
}

a {
    .link(#palette.colors[primary]);
}

.nav-component {
	box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.25), 0px 3px 10px -5px rgba(0,0,0,0.5);	
}

/* components */
@import "mixins.less";
@import "flex.less";
@import "grid.less";
@import "alert.less";
@import "button.less"; 
@import "table.less";
@import "tooltip.less";
@import "input.less";
@import "card.less";
@import "input.less";
@import "dropdown.less";
@import "modal.less";
@import "nav.less";
@import "tab.less";
@import "layout.less";
@import "responsive_utilities.less";
@import "typography.less";
@import "utilities.less";


/* basic stylings ------------------------------------------ */
body {
    margin: 0;
    font-family: #base.font[family];
    font-size: #base.font[size];
    font-weight: #base.font[weight];
    line-height: #base.font[line-height];
    color: #base.font[color];
    text-align: left;
    background-color: #fff;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}


.layout__header {

    width: 100%;
	.fill(#3F51B5);
    .margin(0);
    .padding(1rem 0);
    .index(3);
    .text(#fff);

    border: none;
    max-height: 1000px;

    &--doc-header {
    	background: rgba(0,0,0,0.05);
        background: #2C3E50;
    	color: #EFF3F3;
    	padding: 3rem 0 0.5rem;
    	margin-bottom: 1rem;
    	border-bottom: 1px solid rgba(0,0,0,0.05);
    }
}

.layout__footer {
    border-top: 1px solid rgba(0,0,0,0.25);
    background: #39526b;
    color: #fff;
    padding: 2rem 0 4rem;
    margin-top: 2rem;
}