.bar {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fafafa;
	overflow-y: auto;
	box-shadow: @component-shadow;

	&__drawer {
		display: flex;
		justify-content: space-between;
	}
	&__brand {
		flex: 1;
		padding: 0.75rem 1rem;
		color: @font-color;
		font-size: 1.2rem;
	}
	&__toggle {
		flex: 0 0 auto;
		padding: 0.75rem 1rem;
		text-decoration: none;
		color: @font-color;
		* {
			pointer-events: none;
			font-size: 28px;
			color: @font-color;
		}
	}
	&__menu {

		display: flex;
		flex-direction: row;
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		&-item {
			flex: 1;
			&__link {
				display: flex;
				padding: 1rem;
				text-decoration: none;
				color: lighten(@font-color, 20%);
				&:hover {
					color: @font-color;
					background: rgba(0,0,0,0.025);
				}
			}
			&__dropdown {
				width: 100%;
				list-style: none;
				list-style-type: none;
				margin: 0;
				padding: 0;
				background: #fff;
				min-width: 150px;
				display: none;
				flex-direction: column;
				z-index: 950;
				box-shadow: @component-shadow;
				li {
					a {
						display: flex;
						padding: 0.5rem 1rem;
						color: lighten(@font-color, 20%);
						text-decoration: none;
						&:hover {
							color: @font-color;
							background: rgba(0,0,0,0.1);
						}
					}
				}
			}
			&__dropdown--visible {
				display: flex;
			}
		}
	}
	&__menu.bar__menu--visible {
		border-top: 1px solid rgba(0,0,0,0.05);
		display: flex;
	}

}

// Collapsible
.bar.bar--collapsible {
	overflow-y: visible;
	.bar__menu {
		display: none;
		flex-direction: column;
	}
	.bar__menu.bar__menu--visible {
		display: flex;
	}
}


// List
.bar.bar--list {

	.bar__menu {
		flex-direction: column;
		width: 100%;
		.bar__menu-item {
			flex: 1 0 auto;
			width: 100%;
			.bar__menu-item__link {
				&-icon {
					width: 2rem;
				}
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}

// Toolbar
.bar.bar--toolbar {
	.bar__menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.bar__menu-item {
			flex: 0 0 auto;
			.bar__menu-item__link {
				display: flex;
				flex-direction: column;
				.bar__menu-item__link-icon,
				.bar__menu-item__link-text
				{
					flex: 1;
					text-align: center;
				}
			}
		}
	}
}

// Fixed
.bar.bar--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}


@media (min-width: 992px) {  
	.bar {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		.bar__drawer {
			display: flex;
			justify-content: flex-start;
		}
		.bar__toggle {
			display: none;
		}
		.bar__menu {
			border-top: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
	}
	.bar.bar--collapsible {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		.bar__toggle {
			display: none;
		}
		.bar__menu {
			border-top: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			.bar__menu-item {
				position: relative;
				.bar__menu-item__dropdown {
					position: absolute;
				}
			}
		}
	}

}
