.bar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-shadow: 0 5px 10px -2px rgba(0,0,0,0.05);
	border-bottom: 1px solid #ddd;
	background: #fff;
	&__drawer {
		display: flex;
		justify-content: space-between;
	}
	&__brand {
		flex: 1;
		background: #eee;
		padding: 1rem;
	}
	&__toggle {
		flex: 0 0 auto;
		background: #ddd;
		width: 5rem;
		padding: 1rem;
	}
	&__menu {
		display: flex;
		flex-direction: row;
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		background: #fff;
		&-item {
			flex: 1;
			&__link {
				display: flex;
				padding: 1rem;
				text-decoration: none;
				color: @font-color;
				&:hover {
					background: rgba(0,0,0,0.1);
				}
			}
		}
	}
	&__menu.visible {
		display: flex;
	}
}

.bar.bar--collapsible {
	.bar__menu {
		display: none;
		flex-direction: column;
	}
	.bar__menu.visible {
		display: flex;
	}
}


.bar.bar--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}


@media (min-width: 992px) {  
.bar {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	&__drawer {
		display: flex;
		justify-content: space-between;
	}
	&__brand {
		flex: 1;
		background: #eee;
		padding: 1rem;
	}
	&__toggle {
		display: none;
	}
	&__menu {

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

	}

}

}
