.bar {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background: #fafafa;
	overflow-y: auto;
	box-shadow: @component-shadow;

	&__drawer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__brand {
		flex: 1;
		padding: 0.65rem 1rem;
		color: @font-color;
		font-size: 1.15rem;
		line-height: 0;
	}
	&__toggle {
		.ripple;
		flex: 0 0 auto;
		padding: 0.65rem 1rem;
		text-decoration: none;
		color: @font-color;
		* {
			pointer-events: none;
			font-size: 28px;
			color: @font-color;
		}
	}
	&__menu {

		display: flex;
		flex-direction: row;
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		&-item {

			&__link {
				.ripple;
				flex: 1;
				display: flex;
				padding: 0.65rem 1rem;
				text-decoration: none;
				color: lighten(@font-color, 20%);



				&:hover {
					color: @font-color;
					background: rgba(0,0,0,0.075);
				}
				&--active {
					color: @font-color;
					background: rgba(0,0,0,0.05);	
				}
			}
			&__dropdown {
				width: 100%;
				list-style: none;
				list-style-type: none;
				margin: 0;
				padding: 0;
				background: rgba(0,0,0,0.025);
				min-width: 150px;
				display: none;
				flex-direction: column;
				z-index: 950;

				li {
					a {
						.ripple;
						flex-grow: 0;
						display: flex;
						padding: 0.75rem 1rem;
						color: lighten(@font-color, 20%);
						text-decoration: none;
						&:hover {
							color: @font-color;
							background: rgba(0,0,0,0.05);
						}
					}
				}
			}
			&__dropdown--visible {
				display: flex;
				border-top: 1px solid rgba(0,0,0,0.05);
				border-bottom: 1px solid rgba(0,0,0,0.05);
				position: relative;
				background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' /></svg>")  no-repeat;
				// &:after {
				// 	position: absolute;
				// 	content: " ";
				// 	width: 2rem;
				// 	height: 2rem;
				// 	background: red;
				// 	right: 0;
				// 	top: -2.5rem;
				// }
				li a {
					padding-left: 2rem;
				}
			}
		}
	}
	&__menu.bar__menu--visible {
		border-top: 1px solid rgba(0,0,0,0.05);
		display: flex;
	}

}

.bar__menu-item__link[data-toggle=bar__menu] {
	padding-right: 2rem;
	&:before {
		content: ' ';
		position: absolute;
		top: 1rem;
		right: 0.75rem;
		height: 1rem;
		width: 1rem;
		fill: #fff;
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMTI4IDE5MmwxMjggMTI4IDEyOC0xMjh6Ii8+PC9zdmc+");
	}
}

.bar__menu-item__link--active[data-toggle=bar__menu] {
	&:before {
		content: ' ';
		position: absolute;
		top: 1rem;
		right: 0.75rem;
		height: 1rem;
		width: 1rem;
		fill: #fff;
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMTI4IDMyMGwxMjgtMTI4IDEyOCAxMjh6Ii8+PC9zdmc+");
	}
}


// Collapsible
.bar.bar--collapsible {
	overflow-y: visible;
	.bar__menu {
		display: none;
		flex-direction: column;
	}
	.bar__menu.bar__menu--visible {
		display: flex;
	}
}


// List
.bar.bar--list {
	
	.bar__menu {
		flex-direction: column;
		width: 100%;
		.bar__menu-item {
			flex: 1 0 auto;
			width: 100%;
			.bar__menu-item__link {
				&-icon {
					width: 1.5rem;
					font-size: 22px;
					margin-right: 0.75rem;
					text-align: center;
				}
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}

.bar.bar--list-desc {
	.bar__menu {
		flex-direction: column;
		width: 100%;
		.bar__menu-item {
			flex: 1 0 auto;
			width: 100%;
			border-bottom: 1px solid rgba(0,0,0,0.05);
			.bar__menu-item__link {
				&-icon {
					flex-shrink: 0;
					width: 3.5rem;
					font-size: 32px;
					margin-right: 0.75rem;
					text-align: center;
				}
				display: flex;
				justify-content: flex-start;
				align-items: center;
				&-text {
					*:last-child {
						margin: 0 0 0.5rem;
					}
				}
			}
		}
	}
}

// Toolbar
.bar.bar--toolbar {
	.bar__menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.bar__menu-item {
			min-width: 5rem;
			flex-grow: 1;
			flex-shrink: 0;
			.bar__menu-item__link {
				display: flex;
				flex-direction: column;
				.bar__menu-item__link-icon,
				.bar__menu-item__link-text
				{
					flex: 1;
					text-align: center;
				}
				.bar__menu-item__link-icon {
					font-size: 24px;
				}
			}
		}
	}
}

// Fixed
.bar.bar--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}

.bar.bar--theme-md {
	background: @material-color;
	.bar__brand {
		color: #fff;
	}
	.bar__toggle {
		color: #ddd;
		* {
			color: #fff;
		}
	}		
	.bar__menu {
		background: rgba(0,0,0,0.075);
		.bar__menu-item {
			.bar__menu-item__link {
				color: #ddd;
				&:focus,
				&:hover {
					background: rgba(0, 0, 0, 0.1);
					color: #fff;
				}
			}
			.bar__menu-item__dropdown {
				box-shadow: none;
				background: rgba(0,0,0,0.15);
				li a {
					color: #ddd;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}


.bar.bar--theme-teal {
	background: #058893;
	.bar__brand {
		color: #fff;
	}
	.bar__toggle {
		color: #ddd;
		* {
			color: #fff;
		}
	}	
	.bar__menu {
		background: rgba(0,0,0,0.075);
		.bar__menu-item {
			.bar__menu-item__link {
				color: #D5EDEA;
				&:focus,
				&:hover {
					background: rgba(0, 0, 0, 0.1);
					color: #fff;
				}
			}
			.bar__menu-item__dropdown {
				box-shadow: none;
				background: rgba(0,0,0,0.15);
				li a {
					color: #ddd;
					&:hover {
						color: #fff;
					}
				}
			}			
		}
	}
}

@media (min-width: 992px) {  
	.bar {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.bar__drawer {
			display: flex;
			justify-content: flex-start;
		}
		.bar__toggle {
			display: none;
		}
		.bar__menu {
			border-top: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			.bar__menu-item {
				
			}
		}
	}

	.bar.bar--collapsible {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		.bar__toggle {
			display: none;
		}
		.bar__menu {
			border-top: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			background: none;
			.bar__menu-item {
				position: relative;

				.bar__menu-item__dropdown {
					background: #fff;
					box-shadow: @component-shadow;
					position: absolute;
					&.bar__menu-item__dropdown--visible {
						li a {
							color: lighten(@font-color, 15%);
							padding-left: 1rem;
							&:hover {
								color: @font-color;
							}							
						}
					}
				}
			}
		}
	}

}
