.modal--shown {
	overflow: hidden;
}

.modal {
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
	transition: opacity ease-in-out 0.25s;

    &__content {
		opacity: 0;
		visibility: hidden;    	
		background:white;
		max-height: 100%;
		max-width: 100%;
		transform: scale(1.1);
		transition: opacity 0.25s 0s, transform 0.25s, scale 0.25s;
		z-index: 1001;
		&--small {
			max-width: 35%;
		}
		&--large {
			max-width: 75%;
		}
		.shadow-3dp;
		border-radius: @component-border-radius;
    }

    &__header {
    	font-weight: bold;
    	padding: 1.25rem 1.5rem;
    	font-size: 18px;
    	border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    &__footer {
    	padding: 10px;
    	border-top: 1px solid rgba(0,0,0,0.1);
    }        
    &__block {
    	padding: 1.5rem;
    	height: 30%;
    }        
    &--show {
	    opacity: 1;
	    visibility: visible;    	
	    .modal__content {
			opacity: 1;

			visibility: visible;	    	
			transform: scale(1);
			transition: opacity 0.25s 0s, transform 0.25s, scale 0.25s;
	    }
	    .modal__block {
		    overflow: auto;  
	    }
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 70%;
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 70%;
		}
	}
}

@media (min-width: 992px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 80%;
		}
	}
}

@media (min-width: 1200px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 80%;
		}
	}
}


[data-dismiss=modal] {
	text-decoration: none;
	display: inline-block;
}