.modal--shown {
	overflow: hidden;
}

.modal {

	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
	transition: opacity ease-in-out 0.25s;
	
	&__dismiss {
		text-decoration: none;
		display: inline-block;
	}

    &__content {

		opacity: 0;
		visibility: hidden;    	
		
		background:white;
		
		max-height: 100%;
		max-width: 100%;
		transform: scale(1.1);
		transition: opacity 0.25s 0s, transform 0.25s, scale 0.25s;
		z-index: 1001;

		display: flex;
		flex-direction: column;

		&--small {
			max-width: 35%;
		}
		&--large {
			max-width: 75%;
		}
		.shadow-3dp;
		
    }

    &__header {
		
		&--bold {
			font-weight: bold;
		}

		display: flex;	
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;  
		align-content: flex-end;
		  	
    	padding: 1rem 1.5rem;
    	font-size: 18px;
    	border-bottom: 1px solid rgba(0,0,0,0.1);

    	position: relative;

    	min-height: 1rem;

    	.modal__dismiss {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			border-left: 1px solid rgba(0,0,0,0.1);
			display: flex;
			align-items: center;
			text-align: center;
			background: rgba(0,0,0,0.025);
			&:hover {
				background: rgba(0,0,0,0.05);
			}
			* {
				padding: 15px 20px;
				color: @font-color;
				font-size: 20px;
				display: block;
				text-align: center;
			}
    	}

    }
    &__footer {
    	padding: 10px;
    	border-top: 1px solid rgba(0,0,0,0.1);
    }        
    &__block {

		p,h1,h2,h3,h4,h5,h6 {
			&:first-child {
				margin-top: 0;
			}
		}
		p,h1,h2,h3,h4,h5,h6 {
			&:last-child {
				margin-bottom: 0;
			}
		}

		line-height: 1.5rem;
    	padding: 1.5rem;

    }        
    &--show {
	    opacity: 1;
	    visibility: visible;    	
	    .modal__content {
			opacity: 1;
			visibility: visible;	    	
			transform: scale(1);
			transition: opacity 0.25s 0s, transform 0.25s, scale 0.25s;
	    }
	    .modal__block {
		    overflow: auto;  
	    }
	}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 70%;
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 70%;
			border-radius: @component-border-radius;
		}
	}
}

@media (min-width: 992px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 90%;
			border-radius: @component-border-radius;
		}
	}
}

@media (min-width: 1200px) {  
	.modal {
		&__content {
			max-width: 50%;
			max-height: 90%;
			border-radius: @component-border-radius;
		}
	}
}

/* Default styling for elements dismissing a modal; exclude those with .btn class */
[data-dismiss="modal"]:not(.btn) {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}
