/* Tab Styles */
.tab {
	background: #fff;
	&__nav {
		list-style: none;
		padding: 0;
		margin: 0 0 0 0px;		
		border-bottom: 1px solid rgba(0,0,0,0.05);
		display: block;
		white-space: nowrap; 
		overflow-y: auto;
		&__item {
			display: inline-block;
			a {
				display: block;
				padding: 12px 15px 10px;
				border-bottom: 2px solid transparent;
				text-decoration: none;
				color: lighten(@font-color, 40);
				&:hover{
					border-bottom: 2px solid darken(@default-color, 10);
					color: darken(@font-color, 20);
				}
			}
			&--active {
				a {
					background: #fff;
					border-bottom: 2px solid darken(@default-color, 40);
					color: darken(@font-color, 20);
				}				
			}			
		}
	}
	&__content {
		display: none;
		&--active {
			display: block;
		}
		&__panel {
			padding: 25px;
			display: none;
			opacity: 0;
			visibility: hidden;
			&--active {
				display: block;	
				opacity: 1;	
				transition: opacity 0.5s ease-in ;
				visibility: visible;
			}			
		}
	}
}

.tab.tab--theme-hipster {
	.tab__nav {
		background: rgba(0,0,0,0.75);
		border-bottom: 0;
		.tab__nav__item {
			a {
				color: #fff;
				border: 0;
			}
			&--active {
				a {
					background: orange;
					font-weight: bold;
					color: #052433;
				}
			}
		}
	}
}