.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-help {
	padding: 8px 0;
}

.muted {
	color: lighten(@font-color, 50);
}

.info {
	color: darken(@info-color, 50);
}

.danger {
	color: @danger-color;
}

.warning {
	color: @warning-color;
}

.success {
	color: @success-color;
}

.shadow-2dp {
	box-shadow: @component-shadow-2dp;
}

.shadow-3dp {
	box-shadow: @component-shadow-3dp;
}

.float-right {
	float: right;
}


.color--white {
	color: #fff;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.ripple {
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);

  	&:after {
	    content: "";
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    pointer-events: none;
	    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
	    background-repeat: no-repeat;
	    background-position: 50%;
	    transform: scale(10,10);
	    opacity: 0;
	    transition: transform .25s, opacity 1s;
  	}

  	&:active:after {
	    transform: scale(0,0);
	    opacity: .2;
	    transition: 0s;
  	}
}